<button class="@CssClass" @attributes="@Attributes" @onclick="HandleClick">
    @ChildContent
</button>

@inherits AppComponentBase
@code {
    [Parameter]
    public string CssClass { get; set; }

    [Parameter]
    public EventCallback<PspMouseEventArgs> OnClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }


    private async Task HandleClick(MouseEventArgs args)
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(new PspMouseEventArgs(args, new Random().Next(100)));
        }
    }
}