@page "/components/first"

<PageTitle>First Component</PageTitle>

<div class="row pt-5">
    <div class="col">
        <h1 class="mb-3">First Component</h1>

        <Psp />
    </div>
</div>
@code {

}