@page "/components/button-variant"

<PageTitle>Component Button Variant</PageTitle>

<div class="row pt-5">
    <div class="col">
        <h1 class="mb-3">Component Button Variant</h1>

        <PspButtonDelete OnDelete="@OnAction" />
        <PspButtonUpdate OnUpdate="@OnAction" />
    </div>
</div>
@code {
    private void OnAction()
    {

    }
}