@page "/lifecycle"

<PageTitle>Lifecycle</PageTitle>

<div class="row pt-5">
    <div class="col">
        <h1 class="mb-3">Lifecycle</h1>

        <p>Count: @count</p>
        <PspButton OnClick="@OnClickAsync">Increment</PspButton>
    </div>
</div>